.cartNumberProducts {
    background-color: chocolate;
    width: 100%;
    height: 600px;
}

.cardProducts, .cardProductsLeft {
    display: flex;
}

.cardProductsLeft, .cardProductsRight {
    width: 50%;
}