.cartNumberProducts {
  background-color: pink;
  width: 80rem;
  height: 20rem;
}

.cardProducts,
.cardProductsLeft {
  display: flex;
}

.cardProductsLeft,
.cardProductsRight {
  width: 50%;
}

.cardProducts h2 {
  font-size: 1rem;
}

.cleanButton {
  width: 80px;
  height: 30px;
}
