.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #ff9800;
    border-bottom: 1px solid white;
}
.services {
    display: flex;
}