.button {
    /* width: 100%;
    height: 46%;
    padding: 0.5rem;
    background-color: black;
    color: white; */
    min-width: 100px;
    padding: 20px;
    color: #ffffff;
    background-color: #04625A;
    border: none;
    
}