.button {
    width: 80%;
    /* height: 46%; */
    padding: 0.5rem;
    background-color: black;
    color: white;
    /* display: flex;
    align-items: center;
    justify-content: center ; */
    padding: 20px;
    font-weight: 800;
    font-size: medium;
    color: #ffffff;
    background-color: #ff9800;
    border: none;
    cursor: pointer;
    
}