.itemDetail {
    display: flex;
    /* background-color: red; */
}

.itemDetailDescription {
    /* flex-direction: column;
    align-items: center; */
    text-align: center;
    width: 55%;
}

.ItemDetailAddProduct{
    width: 45%;
    /* background-color: aqua; */
}

/*padre slider*/
.sliderBox {
    padding: 0.5rem;
    display: inline-block;
    width: 80%;
    text-align: center;
    position: relative;
    overflow: hidden;
}


.slider {
    width: 100%;
}

.sliderImg {
    border: 1.5px solid #308e95;
    border-radius: 8%;
}

/* .accordionTitle {
    margin-bottom: 1rem;
} */

.accordionBox {
    width: 90%;
}
.accordionBox, .sliderBox {
    margin-top: 2.5rem;
}

.delivery {
    width: 75%;
    height: 5rem;
  
}

.shipping {
    width: 50%;
    /* padding: 2rem; */
    display: flex;
    justify-content: space-between;
}
