.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ff9800;
    /* background-color: #308E95; */
    color: white;
    padding: 1rem 2rem;
    margin-bottom: 5rem;
}

.mainNav {
    display: flex;
    width: 100%;
    justify-content: space-between; 
}
.categories {
    display: flex;
    width: 100%;
}