.navbar {
    margin: auto;
    width: 25%;
    text-align: center;
}
.navbarList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

a { 
    color: white;
    font-weight: 500;
}

a:hover {
    color: #F2D589;
}