.input {
    /* width: 100%;
    height: 4%;
    border: 0;
    padding: 20px 10px; */

    border: 1px solid blue;
    padding: 20px;
    font-size: 12px;
}

.input::placeholder {
    color: grey;
}


.input:focus {
    outline: none;
 }