.search {
  display: flex;
  width: 80%;
  /* padding: 1rem; */
 

  border: 1px solid grey;
  /* display: inline-flex; */

  background: greenyellow;
  
}

.input {
    width: 80%;
}

.button {
    width: 20%;
}